:host{
    height: 100%;
}
footer{
    height: 40px;
    background-color:blue;
    color: white;
    bottom: 0px;
    position: sticky;
}
#charts mat-card{
    height: 140px;
}
.space{
    margin: 0 20px;
}
mat-drawer{
    width: 250px;
}
mat-drawer-container{
    height: 100% ;
}
mat-drawer-content{
    margin-top: 30px;
}
ul li, li{
    list-style: none;
}
.graph{
    height: 400px;
}